<mat-toolbar color="primary">
    <div>
      <button mat-icon-button><mat-icon>menu</mat-icon></button>
    </div>
    <div class="conatiner">
      <div fxLayout="column" fxLayoutAlign="center center">
        MyAPP
      </div>
    </div>
</mat-toolbar>
<mat-tab-group fxLayout="column" fxLayoutAlign="center center">
  <div class="conatiner">
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </div>
  </mat-tab-group>
